name: Test

on:
  # Test on checkin.
  push:
    branches: [ master ]
  # Pull requests
  pull_request:
    branches: [ master ]
  # Nightly test.
  schedule:
    - cron: '0 */2 * * *'
  # Manual trigger.
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: bazelbuild/setup-bazelisk@v3
      - uses: actions/cache@v5
        name: Setup Bazel Cache
        with:
          path: ~/.cache/bazel
          key: ${{ runner.os }}-bazel-${{ hashFiles('.bazelversion', '.bazelrc', 'MODULE.bazel') }}-go-${{ hashFiles('go.sum') }}-npm-${{ hashFiles('pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-bazel-${{ hashFiles('.bazelversion', '.bazelrc', 'MODULE.bazel') }}-go-${{ hashFiles('go.sum') }}-npm-${{ hashFiles('pnpm-lock.yaml') }}
            ${{ runner.os }}-bazel-${{ hashFiles('.bazelversion', '.bazelrc', 'MODULE.bazel') }}-go-${{ hashFiles('go.sum') }}
            ${{ runner.os }}-bazel-${{ hashFiles('.bazelversion', '.bazelrc', 'MODULE.bazel') }}
            ${{ runner.os }}-bazel-
      - run: bazel build ...
      - run: bazel test --test_output=errors ...
